langchain
langchain-core
langchain-openai
langchain-community
langchain-huggingface

faiss-cpu
sentence-transformers
transformers
huggingface-hub

fastapi
uvicorn

python-dotenv
tiktoken

openai
langchain-anthropic
langchain-google-genai
google-generativeai

numpy
scikit-learn
